@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-size: 14px;
}

:root {
    --card-rating: rgb(250, 219, 134);
    --main-text: rgb(46, 46, 46);
    --button-primary: rgb(151, 211, 207);
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  color:var(--main-text);
  background-color: rgba(0,0,0,0.05);
  font-family: "Rubik", sans-serif;
}

.products-container
{
    max-width: 1000px;
    width: 100%;
}

.products-section
{
    display:flex;
    margin-top: 50px;
}

.products-header
{
    font-weight: bold;
}

/* product detail opinion list */

.user-opinion-container {
    display: flex;
    margin: 5px 5px;
    width: calc(50% - 10px);
    padding: 10px 10px;
}


.user-opitnion-header {
    margin-top: 30px;
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: 20px;
}

.opinion-left-box {
    width: 80px;
    margin-right: 20px;
}

.opinion-right-box
{
    width: calc(100% - 100px);
    font-size: 0.8em;
}

.opinion-username
{
    font-weight: bold;
    font-size: 0.8em;
}

.opinion-username > i
{
    font-size: 0.9em;
    margin-right: 8px;
}

.opinion-date {
    color: #b3b3b3;
    font-size: 0.6em;
}

.opinion-rating
{
    color: var(--card-rating);
    font-size: 0.8em;
}

.user-opinions-list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

/* product detail page stylization */

.add-opinion-input-stars {
    display: flex;
    margin-top: 10px;
    font-size: 1.2em;
    justify-content: flex-end;
}

.input-starts-label {
    margin-right: 20px;
    font-size: 0.9em
}

.input-star {
    margin: 0 1px;
    color: var(--card-rating);
}

.add-opinion-footer {
    justify-content: space-between;
}

.add-opinion-submit-button {
    background-color: var(--button-primary);
    border: medium none;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 20px;
    float: right;
    padding: 5px 15px;
    border-radius: 5px;
    color: white;
    font-size: 0.9em;
    font-weight: 500;
}

.carousel-item-image {
    display: block;
}

.carousel-item-container 
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.owl-carousel .owl-stage {
    display: flex;
    align-items: center;
}

.owl-carousel
{
    padding-top: 10px;
    padding-bottom: 10px;
}

.carousel-image
{
    object-fit: contain;
    height: 300px;
}

.details-product-user-ratings
{
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px 60px;
}

.user-rating-container 
{
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    width: 100%;
}

.rating-chart-container
{
    display: flex;
}

.user-rating-chart-container {
    width: 530px;
}

.opinion-header-text
{
    font-size: 1.2em;
    font-weight: bold;
}

.add-opinion-text {
    width: 100%;
    display: block;
    resize: none;
    height: 120px;
    border: none;
    border: 2px solid rgb(236, 236, 236);
    background-color: #f9f9f9;
    border-radius: 5px;
}

.rating-bar-data {
    display: flex;
    margin-top: 3px;
    justify-content: center;
    align-items: center;
}

.user-add-opinion-section
{
    width: 50%;
}

.user-rating-left-box {
    /*background-color: rgb(249, 249, 249);*/
    border-radius: 5px;
    text-align: center;
    padding: 10px 5px;
    width: 150px;
}

.user-rating-chart
{
    margin-top: 5px;
    margin-left: 20px;
}

.chart-bar {
    height: 5px;
    border-radius: 1000px;
    width: 250px;
    background-color: #f9f9f9;
    margin: 0 10px;
    overflow: hidden;
    position: relative;

}

.chart-bar-content {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: var(--card-rating);
    border-radius: 1000px;
}

.star-count, .chart-opinion-count {
    font-size: 0.8em;
    color: #515151;
}

.star-count {
    font-weight: bold;
    padding-right: 5px;
}

.rating-star {
    color: var(--card-rating);
    font-size: 2.2em;
}

.rating-star-desc
{
    font-weight: 500;
}

.rating-max-rating
{
    font-size: 0.9em;
}

.rating-opinion-count {
    font-size: 0.7em;
    color: #717171;
}

.rating-current-rating {
    font-size: 1.5em;
}

.details-product-name {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 10px;
}

.details-product-desc {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-content: space-between;
    max-height: 190px;
    background-color: #f9f9f9;
    padding: 20px 10px;
    border-radius: 5px;
}

.product-desc-divider {
    margin: 0 10px;
    width: 1px;
    background-color: rgb(239, 239, 239);
}

.details-product-desc-left, .details-product-desc-right 
{
    width: calc(50% - 10px);
    overflow-y: auto;
}

.details-product-category {
    font-size: 0.9em;
    background-color: rgb(241, 241, 241);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 400;
    margin-right: 5px
}

.rating-label{
    color: var(--main-text);
    font-weight: 500;
    margin-right: 10px;
}

.details-product-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border-bottom: 1px solid rgb(239, 239, 239);*/
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.details-product-currency {
    font-weight: 500;
    font-size: 0.7em;
}

.details-product-price
{
    font-weight: bold;
    font-size: 2.3em;
    margin-right: 20px;
    text-align: right;
}

.details-product-producer {
    margin: 5px 0;
}

.details-product-producer-text {
    font-weight: bold;
}

.details-product-data {
    display: flex;
    position: relative;
    background-color: white;
    justify-content: center;
    border-radius: 10px;
    padding: 50px;
}

.details-product-left {
    width: 40%;
    border-radius: 10px;
}

.text-bold
{
    font-weight: bold !important;
}

.details-product-desc-text
{
    font-size: 0.9em;
    margin-left: 10px;
}

.details-product-right 
{
    margin-left: 30px;
    width: calc(60% - 30px);
}


/* product sorting stylization */
.sort-by-select {
    border: none;
    background-color: #e9e9ed;
    padding: 5px 20px;
    border-radius: 3px;
    margin: 0 5px;
    font-weight: 500;
    cursor: pointer;
    width: 150px;
}

.sorting-container > div
{
    position: absolute;
    right: 0;
}

.sorting-container
{
    height: 30px;
    position: relative;
}

.max-price-labels
{
    display: flex;
    justify-content: space-between;
    font-weight: 300;

}

#product-max-price
{
    width: 100%;
}

.apply-sorting {
    border: none;
    border-radius: 3px;
    height: 30px;
    width: 45px;
    background-color: rgb(243, 211, 181);
    color: white;
    box-shadow: 0px 10px 10px rgb(0,0,0,0.05);
    margin-left: 20px;
}


/* page change section stylization */

.page-change-buttons
{
    
}

.change-page-button {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #e9e9ed;
    border: none;
}

.current-page {
    background-color: rgb(243, 211, 181);
    font-weight: bold;
    color: white;
    box-shadow: 0px 10px 10px rgb(0,0,0,0.05);
}

.page-change-container
{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/* product filtering section stylization */

.product-filtering-container {
    width: 260px;
    margin-right: 40px;
}

.category-filtering-container
{
    margin-top: 20px;
}

.category-filtering-container > h4 {
    font-weight: bold;
}

.producer-filtering-container > h4 {
    font-weight: bold;
}

.filtering-data-container
{
    max-height: 200px;
    overflow-y: auto;
    margin-top: 20px;
}

.filtering-checkbox-container
{
    display: flex;
    padding: 3px 5px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 0.9em;
}

.filtering-section-divider
{
    height: 1px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
}

.filtering-container-footer
{
    margin-top: 70px;
}

.apply-filtering
{
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(224, 224, 224);
    font-weight: 500;
}


.filtering-checkbox-container > label
{
    margin-left: 10px;
}




/* product card stylization */

.product-details-link {
    color: inherit;
    text-decoration: none;
}

.product-row {
    height: 180px;
    margin: 10px 0;
    display: flex;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    position: relative;
}

.product-image-container {
    height: 100%;
    width: 200px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.product-details-container {
    vertical-align: top;
    height: 100%;
    margin-top: 10px;
    margin-left: 30px;
    width: calc(100% - 250px);
}

.product-name
{
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: 1px solid rgb(239, 239, 239);
    margin-bottom: 10px;
}

.product-producer
{
    font-size: 0.9em;
    margin-bottom: 5px
}

.product-currency
{
    font-size: 0.6em;
    font-weight: 400;
}

.product-details
{
    display: flex;
    justify-content: space-between;
}

.product-price {
    font-size: 1.5em;
    font-weight: 500;
    text-align: right;
}

.product-categories
{
    font-size: 0.8em;
    margin-bottom: 5px;
}


.product-categories-label
{
    margin-bottom: 2px;
}

.product-category
{
    background-color: rgb(241, 241, 241);
    padding: 2px 8px;
    border-radius: 5px;
    font-weight: 400;
    margin-right: 2px;
}

.product-producer-name
{
    font-weight: bold;
}

.product-rating
{
    margin-bottom: 10px;
}

.details-rating > i
{
    font-size: 1.2em;
}

.details-add-button
{
    float: unset !important;
    margin-top: unset;
}

.details-product-footer
{
    text-align: right;
}

.product-number {
    background-color: rgb(241, 241, 241);
    border: none;
    border-radius: 5px;
    font-weight: 400;
    padding: 5px 15px;
    margin-right: 10px;
}

.product-rating-container {
    float: right;
    color: var(--card-rating);
    z-index: 1;
}

.product-rating {
    font-size: 0.7em;
    font-weight: 600;
    margin-left: 5px;
}

.product-image
{
    max-height: calc(100% - 10px);
    max-width: 100%;
    display: block;
    margin: 5px auto;
}

.product-add-to-cart
{
    background-color: var(--button-primary);
    border:none;
    margin-top: 10px;
    box-shadow: 0px 10px 20px rgb(0,0,0,0.10);
    float: right;
    padding: 5px 15px;
    border-radius: 5px;
    color: white;
    font-size: 0.9em;
    font-weight: 500;
}

/* OLD */
/*
.products-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.product-card {
    width: 250px;
    margin: 15px 10px;
    font-family: 'Rubik', sans-serif;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    position: relative;
}

.product-container {
    margin: 20px 20px;
}

.product-image {
    max-width: 210px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    max-height:100%;
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
}

.product-image-container {
   height: 210px;
   position: relative;
}

.product-rating-container {
    position: absolute;
    top: -7px;
    left: -7px;
    background-color: var(--card-rating);
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 1;
}

.product-rating {
    font-size: 0.9em;
    font-weight: 600;
    margin-left: 5px;
}

.product-information {
    margin-top: 10px
}

.card-buttons-container {
    font-size: 0.9em;
    display: flex;
    justify-content: right;
    margin-top: 40px;
}

button {
    display: block;
}

.product-name {
    font-size: 1.2em;
    font-weight: 500;
}

.add-to-cart {
    border-radius: 5px;
    border: none;
    padding: 10px 15px;
    background-color: var(--button-primary);
    font-weight: 500;
}

.add-to-cart:hover {
    transform: scale(0.90);
    transition: all ease-out 0.15s;
}
*/
