@model Sklep_Internetowy.ViewModels.ProductDeleteModel;

<form action="post" asp-action="Delete" asp-controller="Admin">
    <input asp-for="Id" />
    <input asp-for="DeleteImagesOnRemoval" />
    <button type="submit">Usuń</button>
</form>