@model Sklep_Internetowy.ViewModels.AdminStatisticsViewModel;

<h1 class="products-header">Panel administracyjny</h1>
<div class="admin-panel-main">
    <div class="admin-panel-right-section">
        <div class="admin-panel-management">
            <div class="admin-panel-ref-button">
                <div class="button-z-index">
                    <span class="admin-panel-ref-button-text">Produkty</span>
                    <div class="panel-statistics">
                        Liczba produktów: <span class="statistics-count"> @Model.NumberOfProducts </span>
                    </div>
                </div>
                <a asp-action="Index" asp-controller="Products">
                    Przejdź do sekcji<i class="fas fa-share"></i>
                </a>
            </div>
            <div class="panel-divier"></div>
            <div class="admin-panel-ref-button">
                <div class="button-z-index">
                    <span class="admin-panel-ref-button-text">Kategorie</span>
                    <div class="panel-statistics">
                        Liczba kategorii: <span class="statistics-count"> @Model.NumberOfCategories </span>
                    </div>
                </div>
                <a asp-action="Index" asp-controller="ProductCategories">
                    Przejdź do sekcji <i class="fas fa-share"></i>
                </a>
            </div>
            <div class="panel-divier"></div>
            <div class="admin-panel-ref-button">
                <div class="button-z-index">
                    <span class="admin-panel-ref-button-text">Producenci</span>
                    <div class="panel-statistics">
                        Liczba producentów: <span class="statistics-count"> @Model.NumberOfProducers </span>
                    </div>
                </div>
                <a asp-action="Index" asp-controller="Producers">
                    Przejdź do sekcji <i class="fas fa-share"></i>
                </a>
            </div>
            <div class="panel-divier"></div>
            <div class="admin-panel-ref-button">
                <div class="button-z-index">
                    <span class="admin-panel-ref-button-text">Użytkownicy</span>
                    <div class="panel-statistics">
                        Liczba użytkowników: <span class="statistics-count"> @Model.NumberOfUsers </span>
                    </div>
                </div>
                <a class="button-disabled">
                    Przejdź do sekcji <i class="fas fa-share"></i>
                </a>
            </div>
        </div>
    </div>
</div>