@model Sklep_Internetowy.Models.ProductCategory

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="entity-management-window">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Guid" />
            <div class="form-input">
                <label asp-for="Name" class="control-label">Nazwa kategorii</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-footer">
                <a asp-action="Index">Powrót</a>
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
