@model Tuple<IEnumerable<Sklep_Internetowy.Models.ProductCategory>,ProductCategory>

@{
    ViewData["Title"] = "Index";
}


<div class="panel-products-header">
    <div>
        <h1 class="products-header">Kategorie</h1>
    </div>
    <div>
        <a asp-action="Create" asp-controller="ProductCategories" class="panel-product-create-new">
            <span class="panel-product-create-new-icon"><i class="fas fa-plus"></i></span>
            Utwórz nową
        </a>
    </div>
</div>
    <div class="panel-product-item-list">
        @foreach (var item in Model.Item1)
        {
            <form method="patch" asp-action="Edit">
                <div class="panel-product-item">
                    <div class="panel-product-item-name">
                        @item.Name
                    </div>
                    <div class="panel-product-item-operations">
                        <div class="panel-button-list">
                            <a class="panel-product-item-edit -edit-row" asp-action="Edit" asp-route-id="@item.Guid.ToString()">
                                <i class="fas fa-pen"></i>
                            </a>
                            <button type="button" class="panel-product-item-remove -confirmation-window" data-name="@item.Name" asp-action="Delete" asp-route-id="@item.Guid.ToString()">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        }
    </div>

@section Scripts {
    <script src="~/js/confirmationWindow.js"></script>
    <script src="~/js/editRow.js"></script>
}

