@model Sklep_Internetowy.Models.Producer

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="entity-management-window">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-input">
                <label asp-for="Name" class="control-label">Nazwa producenta</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-input">
                <label asp-for="Description" class="control-label">Opis</label>
                <textarea asp-for="Description" class="form-control" ></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-footer">
                @if (ViewData["Referer"] != null)
                {
                    <a href="@ViewData["Referer"]"> Powrót </a>
                }
                else
                {
                    <a asp-action="Index">Back to List</a>
                }
                <input type="submit" value="Stwórz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
