@model IEnumerable<Sklep_Internetowy.Models.Producer>

@{
    ViewData["Title"] = "Index";
}

<div class="panel-products-header">
    <div>
        <h1 class="products-header">Producenci</h1>
    </div>
    <div>
        <a asp-action="Create" asp-controller="Producers" class="panel-product-create-new">
            <span class="panel-product-create-new-icon"><i class="fas fa-plus"></i></span>
            Utwórz nowego
        </a>
    </div>
</div>

<div class="panel-product-item-list">
    @foreach (var item in Model)
    {
        <div class="panel-product-item">
            <div class="panel-product-item-name">
                @item.Name
            </div>
            <div class="panel-product-item-operations">
                <div class="panel-button-list">
                    <a class="panel-product-item-edit" asp-action="Edit" asp-route-id="@item.Guid.ToString()">
                        <i class="fas fa-pen"></i>
                    </a>
                    <button class="panel-product-item-remove -confirmation-window" data-name="@item.Name" asp-action="Delete" asp-route-id="@item.Guid.ToString()">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
            </div>
        </div>
    }
</div>
